<div id="map"></div>

@*<div class="row">*@
@*    <div class="span9">*@
@*        <div id="map"></div>*@
@*    </div>*@
@*    <div class="span3">This could be some sort of side thing</div>*@
@*</div>*@
